<div class="container-fluid">
  <div class="jumbotron text-center" fxLayout="20">
    <h1>Welcome to {{ title }}</h1>
    <form [formGroup]="blackJackForm">
      <div class="form-group">
        <label for="cardList">Card List Input</label>
        <input
          type="text"
          class="form-control"
          id="cardList"
          placeholder="CA, D5, H9, HQ, S8"
          formControlName="cardList"
        />
        <small id="cardListHelp" class="form-text text-muted">
          Input will be divided between players <br />
          <b>example input:</b> CA,D5,H9,HQ,S8<br />
        </small>
        <h5 class="title mb-3">Game Turn: {{ turn }}</h5>
        <h4 class="title">{{ winner }}</h4>
        <div
        class="alert alert-warning mt-3"
        role="alert"
        [hidden]="!blackJackForm.valid"
      >
        please be sure you have correct format "CA,D5,H9,HQ,S8" no white spaces allowed.
      </div>

        <div *ngFor="let player of players">
          {{ player.name }}:
          <span *ngFor="let cardHand of player.cardHand">
            {{ cardHand.cardID }}
          </span>
          / Total: <span> {{ player.cardHand.score }}</span>
        </div>
      </div>
      <div class="row">
        <div class="offset-3 col-md-6">
          <div class="btn-group mb-5" role="group">
            <button
              type="submit"
              class="btn btn-success"
              (click)="getDeck($event)"
            >
              Get New Deck
            </button>

            <button type="button" class="btn btn-info" (click)="shuffleDeck()">
              Shuffle Deck
            </button>

            <button
              type="button"
              class="btn btn-primary"
              (click)="tryInput(cardList)"
              [disabled]="blackJackForm.invalid"
            >
              Try with Input
            </button>

            <button type="button" class="btn btn-danger" (click)="reset()">
              Reset
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-3 col-md-6">
          <button
            type="button"
            class="btn btn-primary"
            (click)="Play()"
            [hidden]="gameStart"
            [disabled]="!(deck.length > 0)"
          >
            Play
          </button>

          <button
            type="button"
            class="btn btn-primary mr-3"
            (click)="hitAgain()"
            [hidden]="!gameStart"
          >
            Hit Again
          </button>

          <button
            type="button"
            class="btn btn-warning"
            (click)="stay()"
            [hidden]="!gameStart"
          >
            Stay
          </button>
          <div
            class="alert alert-warning mt-3"
            role="alert"
            *ngIf="score > 17 && score < 21"
          >
            {{ hint }}
          </div>
        </div>
      </div>
      <div class="col-md-3" [hidden]="!(deck.length > 0)">
        Current Deck:
        <span *ngFor="let card of deck"> {{ card.cardID }} , </span><br />
        total Card: {{ deck.length }}
      </div>
    </form>
  </div>
</div>
